html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: lightyellow;
  font-family: "Questrial", sans-serif;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}

/* nav-bar */

nav header {
  text-align: center;
}
nav ul {
  padding: 0;
  border: 1px solid black;
  border-bottom: 2px solid black;
  overflow: auto;
  white-space: nowrap;
  height: 12rem;
}
nav li {
  border-top: 1px solid #4d4e53;
  list-style: none;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: rgb(71, 71, 71);
}

/* content */
.main-section li {
  text-align: start;
  margin-left: 2.5rem;
}

.main-section .code {
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-left: 1rem;
}
#Data_types ul .inner {
  list-style: circle;
  margin-left: 4rem;
  padding: 0.5rem;
}

/* Tablet devices */
@media only screen and (min-width: 600px) {
  .wrapper {
    display: flex;
  }

  nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 16rem;
  }
  nav ul {
    height: 10.8%;
  }

  #main-doc {
    margin-left: 15rem;
    padding-left: 2rem;
    border-left: 2px solid grey;
  }
}

/* Desktop devices and Larger screens */
@media only screen and (min-width: 768px) {
}
